html, body{
    height:100%;
    margin:0;
}
header>section{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
img{
    width:100%;
}
a{
    display:block;
    text-decoration:none;
    text-align:center;
    font-size:30px;
    margin-top:40px;
    border:solid #ffffff;
    background-color: #000000;
}
body{
    background-color:#82233c;
}
a{
    color: #ffffff;
    text-decoration: none;
    
}
h1{
    font-family: 'Corben', cursive;
    transform: rotate(-10deg);
    display:flex;
    justify-content:center;
    height:10vh;
    font-size: 28px;
}
footer{
    height:10%;
    padding:20px;
    text-align: center;
    background-color:  #77777;
    font-size: 25px
    
}
@media only screen and (min-width:600px){
    header{
        display:flex;
        height:15%;
    }
    h1{
        width:75%;
        font-size: 40px;
    }
   header>section{
        width:50%;
    }
    #home{
        height:70%;
        display:flex;
    }
    #left{
        display:flex;
        align-items:flex-end;
    
    }
    #right{
        display:flex;
        align-items:flex-end;
        justify-content:flex-end;
        }
        article{
            width:50%;
        }
    #right>div{
        width:90%;
    }
    
    
}
@media only screen and (min-width:1100px){
    h1{
        font-size: 65px;
        height:12vh;
    }
    #home{
        height:80%;
        
    }
}